*{
    margin: 0vh;
}
.header-text{
    background-color:#C8102E;
    margin: 0vh;
    color: #FFCD00;
    text-align: center;
    border-radius: 0vh 0vh 3vh 3vh;
    border-bottom: solid #FFCD00 0.5vh;
    box-shadow: 0vh 0.5vh 1vh;
    animation: slideLeftToRight 1.5s ease-in-out;
}
body{
    background-color: #020202;
}
.background-cover-div {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 1vh;
    border-bottom: solid #FFCD00 .5vh;
}
.img-bcg{
    border-radius: 2vh 0vh 2vh 0vh;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: auto;
    height: 70vh;
    margin-top: 2vh;
    /* color: white; */
    background-color:#000000;
    animation: slideRightToLeft 1s ease-in-out;
    
}
.child-content {
    margin-left: 4vh;
    width: 29vh;
    /* margin-left: 10vh;
    margin-right: 4vh; */
    height: 70vh;
    color: #FFCD00;
    background-color: #C8102E;
    border-radius: 7vh 0vh 7vh 0vh;
    border:solid #FFCD00 0.5vh;
    padding: 2.5vh 8vh;
    box-shadow: 0px 0px 10px 0px;
}
.child-content h3 {
    text-align: center;
}
.child-content :hover{
    color: #e6e6e6;
}
body h1{
    text-align: center;
    color: #FFCD00;
}
.shape-center {
    display:inline-flex;
    align-items: center;
    width: 100vh;
    height: 10vh;
    color: #FFCD00;
    border-radius: 0vh 0vh 10vh 10vh;
    background-color: #020202;
    margin-left: 40vh;
    margin-top: 0.9px;
    box-shadow: 0vh 0.5vh 0vh 0vh;
}
.shape-left {
    display: inline-flex;
    width: 12vh;
    height: 10vh;
    border-radius: 3vh 7vh 0vh 7vh;
    background-color: #020202;
    margin-left: 0.1vh;
    color:#FFCD00;
    box-shadow: 1vh 0.5vh 0vh 0.5vh;
    /* margin-bottom: 50vh; */
}
.building-img{
    margin-left: 40vh;
    margin-top: 13vh;
    width: 18vh;
    height: 23vh;
    color: #FFCD00;
    /* background-color:#020202; */
    border-radius: 5vh 0vh 5vh 5vh;
    box-shadow: 0vh 0.5vh 0vh 0vh;
    animation: bottomToCenterGrow 3s ease-in-out;
}
.shape-right {
    display: inline-flex;
    width: 12vh;
    height: 10vh;
    border-radius: 7vh 3vh 7vh 0vh;
    background-color: #020202;
    margin-right: 0.1vh;
    color: #FFCD00;
    box-shadow: 0.2vh 0.5vh 0vh 0.5vh;
}
.footer-div {
    margin-top: 2vh;
    background-color: #C8102E;
    width: auto;
    height: 23vh;
    border-radius: 5vh 5vh 0vh 0vh;
    display: grid;
    grid-template-columns: 0fr 2fr 0fr;
    grid-template-rows: auto;     
}


@keyframes slideLeftToRight {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideRightToLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes bottomToCenterGrow {
    from {
      transform: translateY(100%) scale(15);
      opacity: 0;
    }
    to {
      transform: translateY(0) scale(1);
      opacity: 1;
    }
  }